@page "/"
@inject HttpClient HttpClient

<Toasts class="p-3" Messages="toastMessages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.TopRight" />

<Grid TItem="Job" AllowFiltering="true" AllowPaging="true" AllowSorting="true" AllowSelection="true"
      Class="table table-hover table-bordered table-striped" DataProvider="EmployeesDataProvider" PageSize="20"
      Responsive="true" RowKeySelector="(emp) => emp.Id" SelectedItemsChanged="OnSelectedItemsChanged"
      SelectionMode="GridSelectionMode.Multiple">

    <GridColumns>
        <GridColumn TItem="Job" HeaderText="Id" PropertyName="Id" SortKeySelector="item => item.Id">
            @context.Id
        </GridColumn>
        <GridColumn TItem="Job" HeaderText="Company" PropertyName="Name" FilterTextboxWidth="50"
                    FilterTextboxWidthUnit="Unit.Percentage" SortKeySelector="item => item.Company">
            @context.Company
        </GridColumn>
        <GridColumn TItem="Job" HeaderText="Date Published" PropertyName="DatePublished"
                    SortKeySelector="item => item.DatePublished">
            @context.DatePublished
        </GridColumn>
        <GridColumn TItem="Job" HeaderText="Title" PropertyName="Title" SortKeySelector="item => item.Title">
            @context.Title
        </GridColumn>
        <GridColumn TItem="Job" HeaderText="Department" PropertyName="Department"
                    SortKeySelector="item => item.Department">
            @context.Department
        </GridColumn>
        <GridColumn TItem="Job" HeaderText="City" PropertyName="City" SortKeySelector="item => item.City">
            @context.City
        </GridColumn>
        <GridColumn TItem="Job" HeaderText="Link" PropertyName="Link" SortKeySelector="item => item.Link">
            @context.Link
        </GridColumn>

    </GridColumns>

</Grid>

<div class="mt-3">
    Selected Items Count: @selectedEmployees.Count
</div>

<div class="mt-2">
    Selected Employees:
    <ul>
        @foreach (var emp in selectedEmployees)
        {
            <li>@emp.Company</li>
        }
    </ul>
</div>


@code {
    private IEnumerable<Job> employees = default!;
    private List<Job> filteredJobs = new List<Job>();

    private HashSet<Job> selectedEmployees = new();

    List<ToastMessage> toastMessages = new List<ToastMessage>();

    private async Task<GridDataProviderResult<Job>> EmployeesDataProvider(GridDataProviderRequest<Job> request)
    {
        if (employees is null) // pull employees only one time for client-side filtering, sorting, and paging
            try
            {
                employees = await HttpClient.GetFromJsonAsync<List<Job>>("http://localhost:5235/api/jobs");
            }
            catch (Exception ex)
            {
                string errorMessage = ex.ToString();
                ShowMessage(ToastType.Danger, "Error occured", errorMessage);
            }

        return await Task.FromResult(request.ApplyTo(employees));
    }

    private Task OnSelectedItemsChanged(HashSet<Job> employees)
    {
        selectedEmployees = employees is not null && employees.Any() ? employees : new();
        return Task.CompletedTask;
    }

    private void ShowMessage(ToastType toastType, string title, string messageText) =>
toastMessages.Add(CreateToastMessage(toastType, title, messageText));

    private ToastMessage CreateToastMessage(ToastType toastType, string title, string messageText)
    => new ToastMessage
    {
        Type = toastType,
        Title = title,
        HelpText = $"{DateTime.Now}",
        Message = messageText
    };
}